.form{
    height: 500px;
    width: 500px;
    border: 0.5px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 600px;
    margin-top:15px;
    border-radius: 15px;
    background-color: aqua;
    

}
.Box{
    display: flex;
    justify-content: center;
    margin-top: 170px;
}